<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-zinc-200 flex items-center justify-center">
    <div class="w-[25vw] bg-white px-4 py-10 rounded-[20px]">
      <h1 class="text-3xl text-center font-semibold text-zinc-700 tracking-tighter leading-none capitalize mb-10">Welcome to pinterest</h1>
      <form action="/login" method="post">
        <input class="block mt-2 w-full border-2 px-3 py-2 rounded-md" type="text" name="username" placeholder="Username">
        <input class="block mt-2 w-full border-2 px-3 py-2 rounded-md" type="password" name="password" placeholder="Password">
        <a class="inline-block mt-2 font-semibold text-zinc-800" href="#">Forgot password?</a>
        <input class="block mt-2 w-full px-3 py-2 rounded-full bg-red-600 text-white" type="submit" value="Login">
        <p class="text-xs font-semibold text-zinc-700 mt-7 text-center w-3/4 mx-auto">By continuing, you agree to Pinterest's Terms of Service and acknowledge you've read our Privacy Policy. Notice at collection.</p>
      </form>
      <a class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full" href="/register">Don't have an account ? Sign up</a>
    </div> 
</div>

<% include ./partials/footer.ejs %>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="container">
    <div class="content">
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Make account to see more</p>
      <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="text" name="username" placeholder="Username" class="detail" /><br />
        <input type="text" name="fullname" placeholder="FullName" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int" value="Register" />
      </form>

      <a href="/forgot">Forgot your password?</a>

      
      <p class="or">OR</p>
      <button class="btn fbk">
        <i
          class="fab fa-facebook fa-lg"
          style="color: white; padding-right: 10px"
        ></i
        ><a href="#">Continue with Facebook</a></button
      ><br />
      <button class="btn ggl">
        <i
          class="fab fa-google"
          style="color: rgb(11, 241, 22); padding-right: 10px"
        ></i
        ><a href="#">Continue with Google</a>
      </button>

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/login">Already on Pinterest? Login up</a>
      </footer>
    </div>
  </div>

</body>
</html> -->