<% include ./partials/header.ejs %>

    <div class="w-full h-screen bg-zinc-800 px-10 py-4 text-white">
        <div class="cards">
            <div class="card w-1/3 h-96 bg-zinc-500 rounded-lg overflow-hidden">
                <img class="w-full h-full rounded-lg object-cover" src="/images/uploads/<%= post.image %>" alt="">
            </div>
            <h4 class="text-xl"><%= post.title %></h4>
            <h6><%= post.description %></h6>
        </div>
    </div>

<% include ./partials/footer.ejs %>